<div class="container">
<div class="row col-xs-5 col-xs-offset-3">
  <div class="text-center" style="margin: 10px;">
    <div class="text-center" style="border-left: 3px solid blue; margin: 10px;">
      <h3><%= @question %></h3><br>
    </div>
    <div class="text-center" style="border-left: 3px solid gray; margin: 10px;">
      <h2><%= @answer %></h2><br>
    </div>
    <h3><%= link_to 'Ask a new question', ask_path, class: "btn btn-primary btn-lg text-center" %></h3>
  </div>
</div>
</div>
