
<div class="container">
<div class="row" style="padding: 200px;">
  <div class="text-center">
    <h1>Speak to your Coach!</h1>

    <form action="/answer">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" name="question" placeholder="what time is it?">
      <input type="submit" class="btn-primary btn" value="Go on!">
    </form>
  </div>
</div>
</div>
